name = "ChannelflowWrapper"
uuid = "96086318-f2c4-4a08-8036-25bfacd5eac3"
authors = ["Eben Quenneville <tonehaven@outlook.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
